.left-features {
  background: url(../img/şahsiyet.png);
  background-position: center;
  background-size: cover;
}
.right-features {
  background-color: #edf5f7;
  padding: 30px;
  vertical-align: top;
}
.left-features,
.right-features {
  height: 300px;
  border-radius: 10px;
}
.right-features h2 {
  color: #ff731d;
  font-size: 26px;
}
